::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 179, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 132, 0);
}

.recipe-container-foods {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 390px;
  justify-content: center;
}

.recipe-container-drinks {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 365px;
  justify-content: center;
}
