.login-title {
  color: var(--secondary-color);
  font-family: var(--cursive-font);
  font-size: var(--font-size-xs);
}

.login-subtitle {
  color: var(--primary-color);
  font-family: var(--inter-font);
  font-size: var(--font-size-md);
}
