.login-title {
  color: rgb(255, 132, 0);
  font-size: 30px;
  font-weight: 700;
}

.login-subtitle {
  color: rgb(249, 181, 22);
  font-size: 12px;
  font-weight: 700;
}

.login-forms {
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.login-btn {
  background-color: rgb(255, 179, 0);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  transition: 0.5s;
  width: 100%;
}

.login-btn:hover {
  background-color: rgb(255, 132, 0);
  color: white;
}

.login-btn:disabled {
  background-color: rgb(183, 183, 183);
  color: white;
  opacity: 1;
}
