.search-input {
  background-color: var(--white-color);
  font-family: var(--inter-font);
  font-weight: var(--inter-weight-ligth);
  outline: none;
}

.search-input:focus {
  border: none
}

.search-radio-label {
  color: var(--white-color);
  font-family: var(--inter-font);
  font-size: var(--font-size-md);
  font-weight: var(--inter-weight-regular);
  margin-bottom: 0;
  margin-right: 10px;
}

.search-radio {
  accent-color: var(--secondary-color);
  margin: 0 5px;
  margin-top: -1px;
  vertical-align: middle;
}
