.header {
  background-color: var(--primary-color);
  border-end-end-radius: var(--border-radius-lg);
  border-end-start-radius: var(--border-radius-lg);
}

.page-title {
  font-family: var(--cursive-font);
  font-size: var(--font-size-lg);
}
