.header {
  background-color: rgb(255, 179, 0);
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
}

.page-title {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.header-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: rgb(255, 179, 0);
  font-weight: 700;
  padding: 5px 15px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: rgb(255, 132, 0);
  color: white;
}
