.default-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: var(--buttons-padding);
  transition: var(--basic-transition);
  width: var(--full-width);
  font-family: var(--inter-font);
  font-weight: var(--inter-weight-bold);
}

.default-btn:hover {
  background-color: var(--secondary-color);
}

.default-btn:disabled {
  background-color: var(--dark-color);
  opacity: 1;
}

.header-footer-btn {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: var(--buttons-padding);
  transition: var(--basic-transition);
  font-family: var(--inter-font);
  font-weight: var(--inter-weight-bold);
}

.header-footer-btn:hover {
  background-color: var(--white-color);
  color: var(--secondary-color);
  opacity: 1;
}
