.nav {
  justify-content: center;
}

.nav.nav-pills .nav-link {
  align-items: center;
  color: rgb(255, 132, 0);
  display: flex;
  justify-content: center;
  margin: 3px;
  transition: 0.5s;
}

.nav.nav-pills .nav-link:hover {
  background-color: rgb(255, 179, 0);
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: rgb(255, 132, 0) !important;
  font-weight: 600;
}

.dropdown .dropdown-menu .dropdown-item {
  color: rgb(255, 132, 0);
  transition: 0.5s;
}

.dropdown .dropdown-menu .dropdown-item.active {
  background-color: rgb(255, 132, 0);
  color: white;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgb(255, 179, 0);
  color: white;
}