::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: var(--border-radius-lg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}